<?xml version="1.0"?>
<config>
    <modules>
        <Raveinfosys_Dealer>
            <version>1.0.0.0</version>
        </Raveinfosys_Dealer>
    </modules>
    <global>
        <models>
            <raveinfosys_dealer>
                <class>Raveinfosys_Dealer_Model</class>
            </raveinfosys_dealer>            
        </models>
        <blocks>
            <raveinfosys_dealer>
                <class>Raveinfosys_Dealer_Block</class>
            </raveinfosys_dealer>            
        </blocks>
        <helpers>
            <raveinfosys_dealer>
                <class>Raveinfosys_Dealer_Helper</class>
            </raveinfosys_dealer>            
        </helpers>
        <resources>
            <raveinfosys_dealer_setup>
                <setup>
                    <module>Raveinfosys_Dealer</module>
                </setup>
            </raveinfosys_dealer_setup>
        </resources>
        <events>
            <customer_address_save_before>
                <observers>
                    <raveinfosys_dealer_setLatLongForAddress>
                        <class>raveinfosys_dealer/observer</class>
                        <method>setLatLongForAddress</method>
                    </raveinfosys_dealer_setLatLongForAddress>
                </observers>                
            </customer_address_save_before>             
        </events>
    </global>
    <frontend>        
        <routers>
            <raveinfosys_dealer>
                <use>standard</use>
                <args>
                    <module>Raveinfosys_Dealer</module>
                    <frontName>dealer</frontName>
                </args>
            </raveinfosys_dealer>
        </routers>
        <layout>
            <updates>
                <raveinfosys_dealer>
                    <file>raveinfosys_dealer.xml</file>
                </raveinfosys_dealer>
            </updates>
        </layout>
    </frontend>
    <default>
        <raveinfosys_dealer_config>
            <search>
                <by_zip><![CDATA[1]]></by_zip>
                <by_company><![CDATA[1]]></by_company>
                <by_state><![CDATA[1]]></by_state>
                <radius_options><![CDATA[10,20,50,100,200,300,400,500,1000,2000]]></radius_options>
                <default_radius_option><![CDATA[100]]></default_radius_option>
                <default_box_search_type><![CDATA[zip]]></default_box_search_type>
                <default_country><![CDATA[US]]></default_country>
            </search>    
        </raveinfosys_dealer_config>
    </default>
</config>